body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(239, 33, 143);
}
.gif_container {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}
.header_text {
    font-family: 'Lato';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.owner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
